/*********project profile*******/
.project-profile {
  padding: 100px  10% 50px 10%;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
.project-info {
  width: 60%;
  margin: 0 auto;
}
h2 {
  color: #1f1f25;
  font-size: 60px;
  font-weight: 900;
  text-transform: inherit;
}

.project-info p, .project p {
  font-weight: 300;
  color: #717173;
  font-size: 18px;
  line-height: 30px;
  margin-top: 15px;
}


/********projects css***********/
.projects{
  margin-top: 60px;
}
.projects-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  align-items: center;
  margin: 0 auto;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.projects-list li {
  text-align: center;
  flex-basis: 33.33%;
  align-items: center;
  height: 214px;
  width: 100%;
  margin: 0 auto;
  line-height: 214px;
  border-top: 2px solid rgba(0, 0, 0, 0.05);
  border-right: 2px solid rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.projects-list li img {
  opacity: 0.7;
  transition: 0.3s;
  max-height: 11000px;
  max-width: 190px;
  vertical-align: middle;
}

.projects-list li:hover {
  transform: scale(1.12);
  background: red;
  opacity: 2;
}
