/* back to top */
.backto-top {
  position: fixed;
  bottom: 50px;
  right: 30px;
  cursor: pointer;
  transition: opacity 0.2s linear 0s, visibility;
  opacity: 1;
  visibility: visible;
}

.backto-top > div {
  z-index: 999;
  width: 50px;
  height: 50px;
  line-height: 49px;
  border-radius: 50%;
  background-color: #fff;
  color: #f9004d;
  text-align: center;
  overflow: hidden;
  z-index: 999 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.scroll-to-top-button.visible {
  display: block;
  transition: all 0.28s ease-in;
}

.scroll-to-top-button:hover {
  background-color: #f9004d;
  color: #fff;
}
